# Themes are managed by butler, not chezmoi
themes/

{{ if not (env "CONTAINER_ID") }}
# On host directly - chezmoi not used (OS image handles configs)
*
{{ else if eq (env "APPARATUS_OS_HOME") "1" }}
# OS home distrobox - OS dotfiles only, skip distrobox configs
dot_config/zsh
dot_config/nvim
dot_config/atuin
{{ else if eq (env "APPARATUS_OS_HOME") "0" }}
# Dedicated home distrobox - distrobox configs only, skip OS configs
dot_config/hypr
dot_config/waybar
dot_config/mako
dot_config/kitty
dot_config/walker
dot_config/uwsm
{{ else }}
# Unknown state - ignore everything to be safe
*
{{ end }}
