/* Tokyo Night tokyonight-day theme for Satty */

.satty-main {
    background-color: #e6e7ed;
}

.satty-button {
    background-color: #3760bf33;
    color: #3760bf;
    border-color: #3760bf66;
}

.satty-button:hover {
    background-color: #3760bf44;
}

.satty-button.primary {
    background-color: #3760bf;
    color: #e6e7ed;
}

.satty-button.primary:hover {
    background-color: #3760bf;
    opacity: 0.9;
}

.satty-button.danger {
    background-color: #f7768e;
    color: #e6e7ed;
}

.text-input {
    background-color: #e6e7ed;
    color: #3760bf;
    border-color: #3760bf66;
}
